body{
    background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 27, 3);
} 