body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(212, 169, 105, 0.952);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(192, 102, 38);
    color: rgb(59, 27, 3);
    height: 10vh;
}
.subs ul{
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.heading{
color: rgb(59, 27, 3);
}
.para1{
    color: rgb(59, 27, 3);
    text-align: left;
    margin: 0px;
}